
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	<style>
#myDIV{
display: none;
}
	</style>
	
<script>
if(document.getElementById("Radio1").checked) && (document.getElementById("Radio2").checked) {
	function myFunction() {
		var x = document.getElementById("myDIV");
		if (x.style.display === "none") {
			x.style.display = "block";
		} 
	}
}
</script>


<ion-header>

  <ion-navbar>
    <ion-title>Choisissez parmi nos délicieux sandwiches</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<form action="test.php" method="post">
<div class = "panel panel-primary">
   <div class="panel-heading">
        <h3 class="panel-title">Sandwich</h3>
    </div>

		<div class="radio">
            <label>
                <input type="radio" color="dagobert" id="Radio1" ng-click="sandwich = dagobert" onclick="myFunction()" name="sandwich">Dagobert</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" color="jambon" id="Radio1" ng-click="sandwich = jambon" onclick="myFunction()" name="sandwich">Jambon</label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" color="thon" id="Radio1" ng-click="sandwich = thon mayo" onclick="myFunction()" name="sandwich">Thon Mayo</label>
        </div>
		<div class="radio">
            <label>
                <input type="radio" color="americain" id="Radio1" ng-click="sandwich = américain" onclick="myFunction()" name="sandwich">Américain</label>
        </div>
		<div class="radio">
            <label>
                <input type="radio" color="boulette" id="Radio1" ng-click="boulettes andalouse" onclick="myFunction()" name="sandwich">Boulettes Andalouse</label>
        </div>
		<div class="radio">
            <label>
                <input type="radio" color="fromage" id="Radio1" ng-click="sandwich = fromage" onclick="myFunction()" name="sandwich">Fromage</label>
        </div>
		<div class="radio">
            <label>
                <input type="radio" color="vs" id="Radio1" ng-click="sandwich = variété de la semaine" onclick="myFunction()" name="sandwich">Variété de la Semaine</label>
        </div>
</div>

<div class = "panel panel-primary">
   <div class="panel-heading">
        <h3 class="panel-title">Taille</h3>
    </div>

   
		<div class="radio">
            <label>
                <input type="radio" color="fromage" id="Radio2" ng-click="taille = petit" onclick="myFunction()" name="taille">Petit - 2€</label>
        </div>
		<div class="radio">
            <label>
                <input type="radio" color="vs" id="Radio2" ng-click="taille = grand" onclick="myFunction()" name="taille">Grand - 3€</label>
        </div>
</div>


<input type="submit" id="myDIV" (click)="presentConfirm()" value=" Commander un <span> {{taille}} {{sandwich}} </span>"/>  
</form>

<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click="myFunction()">Click me!</button>

<p>{{ count }}</p>

</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.count = 0;
    $scope.myFunction = function() {
        $scope.count++;
    }
});
</script>

	

</ion-content>

